@use './variables' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: "Inter", sans-serif;;
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(circle at 25% top, darken($dark-accent, 2%), $bg-second);
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
